@model BandJam.Models.Band


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*@section JavaScript
            {
            <script type="text/javascript" src="@Url.Content("/Scripts/SomeScript.js")"></script>
            <script type="text/javascript" src="@Url.Content("/Scripts/AnotherScript.js")"></script>
        }*@
}

<h1>@Html.DisplayFor(model => model.BandName)</h1>

<div>

    <hr />
    <h4></h4>


    <dl class="dl-horizontal">
        <dt>
            Band Name
        </dt>
        <dd>

            @Html.DisplayFor(model => model.BandName)
        </dd>
        <dt>
            Genre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BandSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BandSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dd>
            @*@Html.DisplayNameFor(model =Model.BandMembers)*@
        </dd>
        <dt>
            @foreach (var BandMember in Model.BandMembers)
            {

                @BandMember.FirstName
                @BandMember.LastName
                @BandMember.Instrument

            }



            @*//@Html.DropDownListFor(model => model.BandMembers)
                // @Html.DropDownListFor(model => model.BandMembers, "-- Select Status --")*@
            @*</dt>
                <dd>
                    @Html.DisplayFor(model => model.BandMembers)
                </dd>*@

        <dd>
            <a asp-controller="BandMember" asp-action="Details" asp-route-id="@Model.Id">
                Additional band members

            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

</div>


<h1>Band Members</h1>

<table class="table">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <td>Instrument</td>
    </tr>

    @foreach (var BandMember in Model.BandMembers)
    {
        <tr>
            <td>
                <a asp-controller="BandMembers" asp-action="Details" asp-route-id="@BandMember.Id">
                    @BandMember.FirstName

                </a>
            </td>
            <td>@BandMember.LastName</td>
            <td>@BandMember.Instrument</td>
        </tr>
    }
</table>
<h1>Reservations</h1>
<a asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.Id">Book a Reservation</a>
<table class="table">

    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Title</th>
        <th>Location</th>
    </tr>

    @*@foreach (var Reservation in Model.Reservations)
    {
        <tr>
            <td>
                <a asp-controller="Reservation" asp-action="Index" asp-route-id="@Reservation.Id">
                    @Reservation.ReservationTime

                </a>
            </td>
            <td>@Reservation.ReservationTitle</td>
            <td>@Reservation.Location</td>
        </tr>
    }
</table>*@

@*@if (BandMember.band Count == 0)
    {
    <p>No Members yet!</p>
    }*@



@*<div>
        @Model.BandName
        @foreach ( var band in Model)
        {
            <p><a asp-controller="Bands" asp-action="Details" asp-route-id="id"> @band.BandName </a></p>
        }
    </div>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-action="Index">Back to List</a>
</div>
