@model BandJam.Models.Band

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*@section JavaScript
        {
        <script type="text/javascript" src="@Url.Content("/Scripts/SomeScript.js")"></script>
        <script type="text/javascript" src="@Url.Content("/Scripts/AnotherScript.js")"></script>
    }*@
}

<h2>Details</h2>

<div>

    <hr />
    <h4></h4>


    <dl class="dl-horizontal">
        <dt>
            Band Name
        </dt>
        <dd>

            @Html.DisplayFor(model => model.BandName)
        </dd>
        <dt>
            Genre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BandSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BandSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dd>
        <dt>
            @Html.DisplayNameFor(model => model.BandMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BandMembers)
        </dd>
        <dd>
        <a asp-controller="BandsMember" asp-action="Index" asp-route-id="@Model.Id">
            Additional band members

        </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

</div>





@*<div>
        @Model.BandName
        @foreach ( var band in Model)
        {
            <p><a asp-controller="Bands" asp-action="Details" asp-route-id="id"> @band.BandName </a></p>
        }
    </div>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <a asp-action="Index">Back to List</a>
</div>
